
body {
	display: flex;
	flex-wrap: wrap;
}


.sidebar {
	display: flex;
	flex-wrap: wrap;
}

.header {
	display: flex;
	flex-wrap: wrap;	
}

.header_inner {
	display: flex;
	flex-wrap: wrap;
}

.main_content {
	display: flex;
	flex-wrap: wrap;
}

.middle_box {
	display: flex;
	flex-wrap: wrap;
}

.featured_items {
	display: flex;
	flex-wrap: wrap;
}

.contact_info_items {
	display: flex;
	flex-wrap: wrap;
}





@media screen and (min-width: 0px) {

	.header {
		width: 100%;
		order: -3;
	}

	.header_inner_text {
		width: 60%;
	}

	.header_inner_cover_box {
		width: 40%;
	}

	.main_content {
		width: 100%;
	}

	.sidebar {
		width: 100%;
		order: -2;
	}


	.contact_info_item {
		width: 15%;
	}

	.featured_item {
		width: 60%;
	}

}


@media screen and (min-width: 600px) {
	
	.header_inner_title {
		font-size: 3em;
	}

	.header_inner_description {
		font-size: 1.5em;
	}


	.sidebar_title {
		font-size: 2.5em;
	}

	.my_story_title {
		font-size: 1.8em;
	}

	.my_story_lines {
		font-size: 1.1em;
	}

	.contact_info_title {
		font-size: 1.8em;
	}

	.contact_info_item {
		width: 8%;
	}


	.picture_description_lines {
		font-size: 1.5em;
	}

	.featured_item {
		width: 40%;
	}

}

@media screen and (min-width: 800px) {

	.header {
		order: -3;
	}

	.header:before {
		width: 25%;
		content: "";
	}

	.header_inner {
		width: 75%;
	}

	.main_content {
		width: 70%;
		order: -1;
	}

	.middle_box {
		width: 100%;
	}

	.featured_item {
		width: 30%;
	}

	.picture_description_lines {
		font-size: 1.8em;
	}

	.sidebar {
		width: 25%;
		order: -2;
	}

	.sidebar_title {
		font-size: 2em;
	}

	.my_story_title {
		font-size: 1.5em;
	}

	.my_story_lines {
		font-size: 1em;
	}

	.contact_info_title {
		font-size: 1.5em;
	}

	.contact_info_item {
		width: 25%;
	}	


}

@media screen and (min-width: 1000px) {

	.header_inner {
		width: 1000px;
	}

	.header_inner {
		margin-right: auto;
		margin-left: auto;
	}	

	.main_content {
		width: 750px;
		margin-right: auto;
	}

	.sidebar {
		width: 250px;
		margin-left: auto;
	}
}

